# Auto detect
*                 text=auto

# Source code
*.bash            text eol=lf
*.bat             text eol=crlf
*.cmd             text eol=crlf
*.css             text diff=css
*.htm             text diff=html
*.html            text diff=html
*.ini             text
*.js              text
*.json            text
*.jsx             text
*.ps1             text eol=crlf
*.py              text diff=python
*.sh              text eol=lf
*.sql             text
*.ts              text
*.tsx             text
*.xml             text

# Docker
Dockerfile        text

# Documentation
*.ipynb           text
*.markdown        text diff=markdown eol=lf
*.md              text diff=markdown eol=lf
*.txt             text
AUTHORS           text
CHANGELOG         text
LICENSE           text
*README*          text
